html {
    font-family: "Montserrat", sans-serif;
  }
  
  body {
      margin: 0;
      background-color: #efefef;
  }
  
  header {
      background-color: #364552;
      color: white;
      padding: 3rem 2rem; /* rems son medidas relativas 
                          dependiendo del tamaño de la fuente*/
  }
  
  header h1 {
      font-size: 4rem;
      text-align: center;
  }
  
  /* ahora vamos a centrar el contenido mas no el texto nos vamos a index*/
  
  .container {
      width: 400px; /* 400px porque el tamaño de las imagenes es de tal */
      margin: 0 auto; /* con esto el contenido se centrara */
  }
  
  /* ahora seleccionaremos los articulos */
  
  section article {
      transition: box-shadow 0.3s ease; /* con transition podemos agregarle 
                      que propiedades de css quiero
                      que sean animadas, le indicamos el origen mediante un evento
                      y luego el final. Si queremos animar mas de una transicion
                      debemos cambiar el "box-shadow" por "all" para que anime
                      todas las propiedades de ese elemento html */
      background-color: #fff;
      margin: 1rem 0;
      border-radius: 0.5rem;
      padding: 0.25rem 0;
      cursor: pointer;
  }
  
  section article:hover {
      box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,0.3);
  }
  
  section article h2, section article p {
      margin: 1rem;
  }
  
  /* ahora arreglaremos el footer */
  
  footer {
      background-color: #222;
      padding: 3rem;
      color: white;
  }
  
  footer section {
      float: right;
  }
  
  footer p { /* con esto alineamos el "copyright a los links" */
      margin: 0;
  }
  
  /* ahora arreglamos los links feos */
  
  footer a {
      /* ahora agregamos una transicion al cambio de color en footer a*/
      transition: color 0.3s ease;
      color: #fff;
      text-decoration: none;
  }
  /* ahora les hacemos un hover a los links */
  
  footer a:hover {
      color: cornflowerblue;
  }
  
  
  